<a href="https://colab.research.google.com/github/amadisalarico-cpu/ds220-project2/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
!wget https://github.com/pandas-dev/pandas/raw/main/doc/data/titanic.csv
df = pd.read_csv('titanic.csv')
print("âœ… DATA LOADED!")
df.head()

print("\n" + "="*80)
print("ðŸ”¥ TITANIC SURVIVAL ANALYSIS - DS 220 PROJECT 2")
print("="*80)
print("Analyzes 1912 RMS Titanic disaster (891 passengers)")
print("Reveals survival patterns â†’ Modern risk analysis applications")
print("="*80 + "\n")

# Clean data
df['Age'].fillna(df['Age'].median(), inplace=True)
df.dropna(subset=['Embarked'], inplace=True)
print(f"âœ… CLEANED: {df.shape[0]} rows")
df.info()

--2025-12-12 06:05:23--  https://github.com/pandas-dev/pandas/raw/main/doc/data/titanic.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv [following]
--2025-12-12 06:05:23--  https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 60080 (59K) [text/plain]
Saving to: â€˜titanic.csv.1â€™

titanic.csv.1       100%[===================>]  58.67K  --.-KB/s    in 0.01s

2025-12-12 06:05:23 (4.21 MB/s) - â€˜titanic.csv.1â€™ saved [60080/60080]

âœ… DATA LOADED!

================================================================================
ðŸ”¥ TITANIC SURVIVAL ANALYSIS - DS 220 PROJECT 2
================================================================================
Analyzes 1912 RMS Titanic disaster (891 passengers)
Reveals survival patterns â†’ Modern risk analysis applications
================================================================================

âœ… CLEANED: 889 rows
<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  889 non-null    int64
 1   Survived     889 non-null    int64
 2   Pclass       889 non-null    int64
 3   Name         889 non-null    object
 4   Sex          889 non-null    object
 5   Age          889 non-null    float64
 6   SibSp        889 non-null    int64
 7   Parch        889 non-null    int64
 8   Ticket       889 non-null    object
 9   Fare         889 non-null    float64
 10  Cabin        202 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

/tmp/ipython-input-355297721.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)